# Python
__pycache__/
*.pyc
*.pyo

# Data
*.db
*.xlsx
*.csv
*.json

# Environment
.env

# Logs
*.log

# Virtual Environment
venv/

# Reports
reports/

# Logs
logs/

# Data
data/

# Scripts
geckodriver.exe
load-env-as-secrets.ps1

# Test
foo.txt
test.py
